<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--Pair Paths-->
    <add key="PathEthEur" value="C:\Users\bob\Documents\KrakenDataMiner\Trades\EthEur" />
    <add key="PathBtcEur" value="C:\Users\bob\Documents\KrakenDataMiner\Trades\BtcEur" />
    
    <!--Log Path-->
    <add key="LogFilePath" value="C:\Users\bob\Documents\KrakenDataMiner\Log" />

    <!--ApiPublicUrls-->
    <add key="UrlEthBtc" value="https://api.kraken.com/0/public/Trades?pair=XETHXXBT&amp;since" />
    <!--Escape & using &amp;-->
    <add key="UrlBtcEur" value="https://api.kraken.com/0/public/Trades?pair=XXBTZEUR&amp;since" />
    <add key="UrlEthEur" value="https://api.kraken.com/0/public/Trades?pair=XETHZEUR&amp;since" />

    <!--ServerTime-->
    <add key="ServerTimeUrl" value="https://api.kraken.com/0/public/Time" />

  </appSettings>
</configuration>